// Custom styles.

// Purdue color
$purdue-gold = #CEB888
$purdue-grey = #9D968D
$purdue-dark-grey = #373A36

.post-body { text-align: justify }


.sidebar-toggle-line {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 2px;
  width: 100%;
  background: $purdue-gold;
  margin-top: 3px;

  &:first-child { margin-top: 0; }
}

// Social network icons
.links-of-author a,
.links-of-author .exturl {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 10px;
  border-bottom-color: $grey-dark;
  font-size: 20px;
  if hexo-config('social_icons.transition') { the-transition(); }

  &:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    content: " ";
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: $grey-dark;
  }
}
a, span.exturl {
  border-bottom: 0px
}

// from /themes/next/source/css/_common/scaffolding/base.styl
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 2;
  font-family: $font-family-headings;
}

b,
strong {
  font-weight: normal;
}