/*
// Purdue color
$purdue-gold = #CEB888
$purdue-grey = #9D968D
$purdue-dark-grey = #373A36

// Sidebar
// Variables for sidebar section elements.
// --------------------------------------------------

$site-author-name-margin              = 5px 0 0
$site-author-name-color               = $purdue-gold
$site-author-name-align               = center
$site-author-name-weight              = bold

$sidebar-nav-color                    = $purdue-dark-grey
$sidebar-nav-hover-color              = $purdue-grey
$sidebar-highlight                    = $purdue-gold

$toc-link-active-color                = $purdue-gold
$toc-link-active-border-color         = $purdue-gold
$toc-link-active-current-color        = $purdue-gold
$toc-link-active-current-border-color = $purdue-gold

// Back to top
$b2t-opacity                  = 1
$b2t-position-bottom          = -100px
$b2t-position-bottom-on       = 19px
$b2t-position-right           = 30px
$b2t-font-size                = 12px
$b2t-color                    = $purdue-gold
$b2t-bg-color                 = $black-deep
*/

$site-author-name-margin              = 5px 0 0
$site-author-name-color               = $black-light
$site-author-name-align               = center
$site-author-name-weight              = bold

.site-author-name {
  margin: $site-author-name-margin;
  text-align: $site-author-name-align;
  color: $site-author-name-color;
  font-weight: $site-author-name-weight;
}