
$purdue-gold  = #CEB888
$sidebar-highlight                    = $purdue-gold
$toc-link-active-color                = $purdue-gold
$toc-link-active-border-color         = $purdue-gold
$toc-link-active-current-color        = $purdue-gold
$toc-link-active-current-border-color = $purdue-gold